.wrapper {
  background-color: white;
  box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);
  margin-top: auto;
}
.wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding: 0 80px;
  margin: 0 auto;
  max-width: 1440px;

}
.blockLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8291a3;
  }
  gap:10px;
}
.blockRight{
  display: flex;
  flex-direction: column;
  width:  70%;
}
.footerLink{
  display: flex;
  justify-content: space-between;
  
  :first-child {
    margin-left: 0;
  }
}
.top_nav {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-start;
    gap:10px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8291a3;
  margin: 0;
  text-decoration: none;
 
  li {
    
    text-decoration: none;
  }
  :first-child {
    margin-left: 0;
  }
}
.top_nav2 {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8291a3;
  margin: 0;
  text-decoration: none;
  li {
    
    text-decoration: none;
  }
   
}
.link {
  padding-left: 0;

  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: black;
  line-height: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
   
}
.flat {
  padding-left: 0;
  line-height: 17px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8291A3;

  text-decoration: none;
  display: flex;
  align-items: center;
  img {
    padding-right: 10px;
  }
}
.active {
  color: black;
  border-bottom: 3px solid #ffd54f;
  padding: 10px 0;
}
.ikon{
  display: flex;
  justify-content: space-between;
  img{
    margin-left: 15px;
  }
}